.rating {
    display: inline-block;
    font-size: 1rem;
  }
  
  .rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
  }
  
  .rating > span:hover:before,
  .rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    color: #f8e825;
  }
  